<h1>HackerYou Students</h1>

    <% @users.each do |user| %>
      <div class="thumbnail span2">
        
            <%= image_tag(user.photo_url, class: 'img-rounded') %>
            <center><h5><%= user.name %></h5></center>
            <center>
            <%= link_to 'Edit', edit_user_path(user), :class=>"btn btn-primary" %>
            <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger"  %>
            <center>
      </div>
    <% end %>


<br>





