<h1>HackerYou Teachers</h1>

    <% @teachers.each do |teacher| %>
      <div class="thumbnail span2">
        
            <%= image_tag(teacher.photo_url, class: 'img-rounded') %>
            <center><h5><%= teacher.name %></h5></center>
            <center>
            <%= link_to 'Edit', edit_teacher_path(teacher), :class=>"btn btn-primary" %>
            <%= link_to 'Delete', teacher, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger"  %>
            </center>
      </div>
    <% end %>